name: '{{ smtp.name }}'
title: '{{ smtp.title }}'
host: '{{ smtp.host }}'
port: {{ smtp.port }}
credentials:
  password: '{{ smtp.password }}'
  username: '{{ smtp.username }}'
timeout: 10000
secure: true