kind: AssetRepository
apiVersion: integration.ibm.com/v1beta1
metadata:
  name: development
  namespace:  {{ cp4i_assets.namespace }}
spec:
  license:
    accept: true
    license:  {{ cp4i_assets.license }}
  replicas: 1
  storage:
    assetDataVolume:
      class: {{ rw_many_storage_class }}
    couchVolume:
      class: {{ rw_once_storage_class }}
  version: {{ cp4i_assets.version }}
