apiVersion: apps/v1
kind: Deployment
metadata:
  name: workshop-info
  namespace: {{ uid }}
  labels:
    app: workshop-info
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: workshop-info
  template:
    metadata:
      labels:
        deployment: workshop-info
    spec:
      serviceAccountName: workshop-info-sa
      containers:
        - name: workshop-info
          image: 'quay.io/clouddragons/cp4i-workshop-info-vad-mt:2022.4.1'
          env:
            - name: OPENSHIFT_VERSION
              value: {{ openshift_version }}
            - name: APIC_CR_NAME
              value: {{ cp4i_apic.cr_name }}
            - name: APP_CONNECT_DES_CR_NAME
              value: {{ cp4i_ace.designer.cr_name }}
            - name: LDAP_URL
              value: {{ ldap.server }}
            - name: LDAP_BIND_DN
              value: {{ ldap.bind_dn }}
            - name: LDAP_BIND_PWD
              value: {{ ldap.bind_dn_password }}
            - name: LDAP_USER_SEARCH_BASE
              value: "ou=users,{{ ldap.base_dn }}"
          imagePullPolicy: IfNotPresent
